body
{
    background-color: white;
}

table
{
    border-collapse:collapse;
}

table, th, td
{
    border: 2px solid green;
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

th
{
  background-color: rgb(167, 201, 66);
  color: white;
}